@import url("https://fonts.googleapis.com/css2?family=Lekton&display=swap");

* {
  font-family: "Lekton", sans-serif;
  font-weight: 500;
  text-transform: none;
  background-color: #111;
}

body {
  margin: 0;
}

.hello {
  margin: auto;
  max-width: 1000px;
  padding: 10px 50px;
  /* background-color: aqua; */
}
