@import url("https://fonts.googleapis.com/css2?family=Lekton&display=swap");

* {
  font-family: "Lekton", sans-serif;
  font-weight: 500;
  text-transform: none;
  background-color: #111;
}

body {
  margin: 0;
}

.hello {
  margin: auto;
  max-width: 1000px;
  padding: 10px 50px;
  /* background-color: aqua; */
}

/* unvisited link */
a:link {
  color: #ff0000;
  text-decoration: none;
  border-bottom: 10px;
}

/* visited link */
a:visited {
  color: #ff0000;
  text-decoration: none;
  border-bottom: 1px;
}

/* mouse over link */
a:hover {
  color: white;
  text-decoration: underline;
  border-bottom: 10px;
}

/* selected link */
a:active {
  color: #ff0000;
  text-decoration: none;
  border-bottom: 1px;
}
